@*@model CodeVerifier.Models.ProblemSolution

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProblemSolution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProblemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolutionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolutionCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
